*{
    padding: 0%;
    margin: 0%;
}
body{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.container{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orbit{
    height: 150px;
    width: 150px;
    background-color: aqua;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.sun{
    background-color: yellow;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    box-shadow: 0 0 50px yellow;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 55%;
    right: 55%;
}
.mercury{
    background-color: orange;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;
    left:0px;
    animation-name: mercury;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.venus{
    background-color: chocolate;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;
    left:0px;
    animation-name: venus;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.earth{
    background-color: rgb(0, 238, 255);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;
    left:0px;
    animation-name: earth;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.mars{
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;
    left:0px;
    animation-name: mars;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.jupiter{
    background-color: rgb(85, 2, 2);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;
    left:0px;
    animation-name: jupiter;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.saturn{
    background-color: rgb(159, 70, 7);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;
    left:0px;
    animation-name: saturn;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.uranus{
   background-color: rgb(131, 194, 215);
   height: 50px;
   width: 50px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top:0px;
   left:0px;
    animation-name: uranus;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.neptune{
    background-color: lightblue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;
    left:0px;
    animation-name: neptune;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes mercury{
    from{
        transform: rotate(0deg) translate(80px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translate(80px) rotate(-360deg);
    }
}

@keyframes venus{
    from{
        transform: rotate(0deg) translate(130px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translate(130px) rotate(-360deg);
    }
}

@keyframes earth{
    from{
        transform: rotate(0deg) translate(185px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translate(185px) rotate(-360deg);
    }
}
.earthpath{
    height: 185px;
    width: 185px;
    border: 2px dashed white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:2.4rem;
    right:2.4rem;
}

@keyframes mars{
    from{
        transform: rotate(0deg) translate(240px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translate(240px) rotate(-360deg);
    }
}
@keyframes jupiter{
    from{
        transform: rotate(0deg) translate(300px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translate(300px) rotate(-360deg);
    }
}
@keyframes saturn{
    from{
        transform: rotate(0deg) translate(340px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translate(340px) rotate(-360deg);
    }
}
@keyframes uranus{
    from{
        transform: rotate(0deg) translate(380px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translate(380px) rotate(-360deg);
    }
}
@keyframes neptune{
    from{
        transform: rotate(0deg) translate(420px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translate(420px) rotate(-360deg);
    }
}






